.buttonRegistrar{
    background: linear-gradient(to right, #4BC6FB, #2E95C1, #0A6A93);
    border: none;
    border-radius: 18px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    width: 375px;
    height: 37px;
    cursor: pointer;
    font-weight: bold;
}

.buttonRegistrar:hover{
    filter: brightness(1.09);
    transform: scale(1.01);
}

.buttonRegistrar:focus{
    outline: none;
}