.inputButtonRecuperarSenha{
    background: linear-gradient(to right, #4BC6FB, #2E95C1, #0A6A93);
    width: 375px;
    height: 37px;
    border: none;
    border-radius: 18px;
    color: white;
    margin-top: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    cursor: pointer;
}

.inputButtonRecuperarSenha:hover{
    scale: 1.015;
    filter: brightness(1.2);
    cursor: pointer;
}