.buttonPostar{
    background: linear-gradient(to right, #4BC6FB, #2E95C1, #0A6A93);
    border: none;
    border-radius: 18px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); /* sombra de caixa */
    color: white;
    width: 90px;
    height: 30px;
    cursor: pointer;
    font-weight: bold;
}

.buttonPostar:hover{
    filter: brightness(1.09);
    transform: scale(1.01);
}

.buttonPostar:focus{
    outline: none;
}


