#Main{
    background-color: #D3D4D9;
}


.containerCentral{
    display: flex;
}


.abaLateralEsquerda{
    position: fixed;
    top: 0; /* Ajuste conforme necessário para definir a distância do topo */
    left: 0;
    width: 650px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}


.logoEmpresa{
    margin-top: 40px;
}

.containerMainIcons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainIcon{
    padding-right: 20px;
}

#opcao{
    margin-top: 8px;
}

.containerMainOptions{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.containerMainLabels{
    margin-left: 15px;
}

.containerPaginaInicial{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.containerMeuPerfil{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.containerConnexoes{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.containerAjustes{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.containerLogout{
    display: flex;
    align-items: center;
}


.parteFinal{
    margin-top: auto;
    margin-bottom: 15px;
}

.containerAcessibildades{
    display: flex;
}

.iconAcessibilidade{
    padding-left: 25px;
    padding-right: 25px;
}

.divisoria{
    width: 275px;
    height: 2px;
    background-color: rgb(152, 152, 152);
}


.containerUtilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.utilidades{
    display: flex;
    align-items: center;
}


.centro{
    display: flex;
    align-items: center;
    margin-left: 650px;
    margin-right: 650px;
    width: calc(100% - 1300px);
    justify-content: center;
    flex-direction: column;
}
<<<<<<< HEAD:src/pages/Connections/connections.module.css
=======


>>>>>>> f56dc0329faf4a5cce2107d07e84609f7067d2f1:src/Pages/Main/main.module.css
.inputProcurarConexxao{
    margin-top: 46px;
}
.sugestoes{
    margin-top: 20px;
}

<<<<<<< HEAD:src/pages/Connections/connections.module.css

=======
.labelRecentes{
    margin-top: 15px;
    margin-left: 250px;
}

.inputPrimeiroPost{
    margin-top: 15px;
}
>>>>>>> f56dc0329faf4a5cce2107d07e84609f7067d2f1:src/Pages/Main/main.module.css




.abaLateralDireita{
    position: fixed;
    top: 0; /* Ajuste conforme necessário para definir a distância do topo */
    right: 0;
    width: 650px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}


.containerConnectores{
    margin-top: auto;
    margin-bottom: 15px;
}

.divisoriadireita{
    width: 310px;
    height: 2px;
    background-color: rgb(152, 152, 152);
}