.divInputPai{
    width: 250px;
    height: 37px;
    border-radius: 18px;
    background-color: white;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 32px;
}

#idProcurarConexxao{
    width: 5000px;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    background-color: white;
}

.iconSearch{
    display: flex;
    top: 0;
    right: 0;
    float: 0;
    margin-right: 10px;
}

.iconSearch:hover{
    cursor: pointer;
}