.containerPai{
    width: 600px;
    height: 170px;
    background-color: white;
    border-radius: 15px;
    margin-top: 15px;
}

.informacoesPost{
    display: flex;
}

.FotoUsuarioLogado{
    padding-top: 15px;
    margin-left: 15px;
}
#idFotoUsuario{
    width: 65px;
    height: 65px;
    border-radius: 12px;
}

.primeiraLinha{
    display: flex;
}

.nomeUsuario{
    padding-top: 15px;
    margin-left: 15px;
    font-size: 18px;
}

.dataPost{
    position: fixed;
    font-size: 12px;
    padding-top: 15px;
    margin-left: 350px;
    opacity: 0.7;
}

.cidadeUsuario{
    padding-top: 1px;
    margin-left: 15px;
    font-size: 14px;
    opacity: 0.7;
}

.mesmaLinha{
    display: flex;
}

.conteudo{
    padding-top: 10px;
    margin-left: 15px;
}

.opcoesPost{
    padding-top: 5px;
    margin-left: 555px;
    margin-bottom: -55px;
    position: fixed;
}

.divisoriaPost{
    width: 565px;
    height: 2px;
    background-color: rgb(215, 214, 214);
    margin-top: 10px;
    margin-left: 15px;
}

.connectoresBotoes{
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.botoes{
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.connectores{
    opacity: 0.7;
}