.leftSide {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.rightSide {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    align-items: flex-start;
}

.middleContainer {
    display: flex;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    justify-content: center;
}



.parentContainer{
    display: flex;
}

body{
    background-color: #D3D4D9;
}