@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

  
#bodyRegisterAcount{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #D3D4D9, #25BBAA, #177DA9);
}  

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.UserDatas{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.tituloCriarConta{
    margin-top: -24px;
}

.agradecimento{
    margin-top: -5px;
}

.containerUserDatas{
    margin-top: 78px;
}

.userData{
    margin-bottom: 10px;
    margin-left: 48px;
}

#botaoRegistrar{
    margin-top: 33px;
}



.containerUserDatas{
    display: flex;
    align-items: center;
    
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

/* Para Firefox */
input[type="date"] {
    appearance: none;
    -moz-appearance: textfield;
}

.centralizacao2{
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.utilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 197px;
}
