*{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
  
body{
    height: 100vh;
    background: linear-gradient(to bottom, #D3D4D9, #25BBAA, #177DA9);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}  

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.UserDatas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userData{
    margin-bottom: 10px;
    margin-left: 48px;
}


#idVoltarTelaLogin{
    margin-left: 187.5px;
    margin-top: -22px;

}


.containerUserDatas{
    display: flex;
    align-items: center;
    
}

.teste{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

/* Para Firefox */
input[type="date"] {
    appearance: none;
    -moz-appearance: textfield;
}