@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@keyframes fadeInAnimation {
  from {
      opacity: 0; /* Início da animação com opacidade zero */
  }
  to {
      opacity: 1; /* Fim da animação com opacidade total */
  }
}

*{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

body{
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  animation: fadeInAnimation 1.5s;
}

#bodyHome{
  background: linear-gradient(to bottom, #D3D4D9, #25BBAA, #177DA9);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.informacoesEmpresa{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: -20px;
}

.tituloEmpresaLogar{
  margin-top: 15px;
}
.slogamEmpresaLogar{
  margin-top: -35px;
  margin-bottom: 87px;
}
.explicaoEmpresaLogar{
font-size: 20px;
margin-top: -15px;
}

.solicitacaoEmpresaLogar{
  font-size: 18px;
  margin-bottom: 10px;
}

.iconsRedesSociaisEmpresaLogar{
  display: flex;
}

.iconRedesSociaisEmpresaLogar{
  font-size: 26px;
  margin-right: 7px;
  cursor: pointer;
}
.interacoesUsuarioLogar{
  margin-top: -20px;
  margin-left: 14px;
  flex-direction: column;
  align-items: center;
}

.InputEmailLogar{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.InputSenhaLogar{
  margin-top: 15px;
}
.labelEsqueciMinhaSenha{
  margin-top: 10px;
  text-align: right;
}
.BotaoLogar{
  margin-top: 36px;
}

.labelCriarConta{
  margin-top: 10px;
}

.LogoEmpresaLogar{
  display: flex;
  justify-content: center;
  margin-bottom: -40px;
}

.saudacao{
  text-align: center;
  margin-top: -2%;
  margin-bottom: -5px;
}

.informacoesEmpresaLogar{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.solicitacaoEmpresaLogar{
  margin-bottom: -20px;
  margin-right: 5px;
}


.utilidades{
  position: fixed;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
}

.containerLogar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}