@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@keyframes fadeInAnimation {
  from {
      opacity: 0; /* Início da animação com opacidade zero */
  }
  to {
      opacity: 2; /* Fim da animação com opacidade total */
  }
}


*{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

body{
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  animation: fadeInAnimation 1.5s;
}

#bodyHome{
  background: linear-gradient(to top, #D3D4D9, #25BBAA, #177DA9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerLogar{
  display: flex;
  align-items: center;

}

.tituloEmpresaLogar{
  
}
.slogamEmpresaLogar{
  margin-top: -35px;
}
.explicaoEmpresaLogar{
font-size: 20px;
margin-top: -15px;
}
.solicitacaoEmpresaLogar{
font-size: 18px;
margin-top: -10px;
}
.iconsRedesSociaisEmpresaLogar{
display: flex;
margin-top: -25px;
font-size: 22px;
}
.iconRedesSociaisEmpresaLogar{
  margin-right: 5px;
  cursor: pointer;
}
.interacoesUsuarioLogar{
  margin-top: 105px;
  margin-left: 14px;
}
.InputEmailLogar{
display: flex;
align-items: center;
margin-top: 20px;
}
.InputSenhaLogar{
margin-top: 15px;
}
.labelEsqueciMinhaSenha{
margin-top: 10px;
text-align: right;
}
.BotaoLogar{
margin-top: 10px;
}

.labelCriarConta{
margin-top: 10px;
}

.LogoEmpresaLogar{
  display: flex;
  justify-content: center;
  margin-bottom: -30px;
}