@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

#bodyResetpassword{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #D3D4D9, #25BBAA, #279BCD);
}

.lockRecuperarSenha{
  margin-right: 1111px;
}

.informacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.tituloEsqueceuSenha{
    margin-top: -30px;
}
  
#idVoltarTelaLogin{
    margin-top: -12px;

}

.explicacaoEsqueceuSenha{
    margin-top: 18px;
}

.inputRecuperarSenha{
    margin-top: 44px;
}

.buttonEnviarLink{
    margin-top: 21px;
}